@model DictionaryModel
@{
    ViewData["Title"] = "Test";
}

<div class="container mb-2">
    <div class="row">
        <div class="span6 ml-1">
            <form class="form-inline my-2 my-lg-0" asp-controller="Dictionary" asp-action="TestTurkish" asp-route-type="LastWeek" method="post">
                <button class="btn btn-secondary btn-sm" type="submit">Last Week</button>
            </form>
        </div>
        <div class="span6 ml-5">
            <form class="form-inline my-2 my-lg-0" asp-controller="Dictionary" asp-action="TestTurkish" asp-route-type="LastMonth" method="post">
                <button class="btn btn-secondary btn-sm" type="submit">Last Month</button>
            </form>
        </div>
    </div>
</div>

@{ int count = 0; }

@if (Model.Dictionaries.Count() > 0) {

    <div class="container">
        <div class="row">
            <div class="col">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">English</th>
                            <th scope="col">Turkish</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Dictionaries) {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.EngStr</td>
                                <td>
                                    <div class="row">
                                        <input type="text" id="@item.Id" disabled="disabled" class="form-control w-75" />
                                        <input type="submit" onclick="ShowTr(@item.Id,'@item.TrStr')" value="Show" class="btn btn-sm btn-primary ml-2" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}


<script>
    function ShowTr(id, str) {

        var selector = '#' + id;
        $(selector).val(str);
    };
</script>