@model DictionaryModel
@{
    ViewData["Title"] = "Test";
}

<div class="container mb-2">
    <div class="row">
        <div class="span6 ml-1">
            <form class="form-inline my-2 my-lg-0" asp-controller="Dictionary" asp-action="TestEnglish" asp-route-type="LastWeek" method="post">
                <button class="btn btn-secondary btn-sm" type="submit">Last Week</button>
            </form>
        </div>
        <div class="span6 ml-5">
            <form class="form-inline my-2 my-lg-0" asp-controller="Dictionary" asp-action="TestEnglish" asp-route-type="LastMonth" method="post">
                <button class="btn btn-secondary btn-sm" type="submit">Last Month</button>
            </form>
        </div>
    </div>
</div>
@{ int count = 0; }
@if (Model.Dictionaries.Count() > 0) {

    <div class="container">
        <div class="row">
            <div class="col">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Turkish</th>
                            <th scope="col">English</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Dictionaries) {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.TrStr</td>
                                <td>
                                    <div class="row">
                                        <input type="text" id="@item.Id" class="form-control w-75" />
                                        <input type="submit" onclick="ShowEng(@item.Id,'@item.EngStr')" value="Show" class="btn btn-sm btn-primary" />
                                        <input id="@item.Id" type="submit" value="Rpt" class="btnRepeat btn btn-sm btn-link btn-primary ml-1" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}


<script>
    function ShowEng(id, str) {

        var inputIdSelector = '#' + id;

        var value = $(inputIdSelector).val();

        if (value == str) {
            $(inputIdSelector).addClass("btn-outline-success");
        }
        else {
            $(inputIdSelector).addClass("btn-outline-danger");
        }

        var selector = '#' + id;
        $(selector).val(str);
    };

        $(document).ready(function () {
        $(".btnRepeat").click(function () {
            $.ajax({
                url: '@Url.Action("NewRepeat", "Dictionary")',
                type: 'POST',
                dataType: 'json',
                data: {
                    DictionaryId: $(this).attr('id')
                },
                success: function (data) {
                    alert(data);
                }
            });
        });
    });

</script>